*


h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 100px;
}


.bold{
    font-weight: 900;  
}
.light{
    font-weight: 500;
}
.sottotitolo{
        font-family:'Montserrat', sans-serif;
font-style: italic;
    }


.nuovasezione{
            border:ridge rgb(0, 0, 0) 15px;
}
.nuovasezionebis{
            border:ridge 20px

        }